$orange-bg: #FF6B00;
$dark-gray: #3C3A39;
$roboto: 'Roboto', sans-serif;

%black-bg-styles {
  background: #1C1A19;
  position: absolute;
}

%orange-title {
  color: #FF6B00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  align-self: center;
}

%white-font {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
}

%text-one {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

%tag {
  @extend %text-one;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 12px;
}

%bullet {
  width: 12px;
  height: 12px;
  background: #FF6B00;
}

%input {
  color: #979493;
}

@mixin bg-projects($url){
  background: url($url);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.menu-nav {
  background: $dark-gray;
}

.text-menu-nav {
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.main-title {
  @extend %orange-title;
  font-size: 56px;
  line-height: 64px;
}

.about-me-title {
  @extend %orange-title;
  font-size: 72px;
  line-height: 88px;
}

.bg-main-pic {
  background-image: url("../pictures/workout.jpeg");
  background-size: cover;
  min-height: 500px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-scraper {
  background-image: url("../pictures/scraper-bot.png");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-pets {
  background-image: url("../pictures/PetPage.jpg");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-elsa {
  background-image: url("../pictures/elsa.jpg");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-todo-list {
  background-image: url("../pictures/todos.png");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-slides {
  background-image: url("../pictures/slides.png");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.bg-pic-main-pointe {
  background-image: url("../pictures/pointe.jpg");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  border-left: 1em solid white;
  border-right: 1em solid white;
}

.black {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.white {
  @extend %text-one;
  color: #091E42;
  flex: none;
  order: 1;
  align-self: center;
}

.tag-bg-white {
  @extend %tag;
  color: #091E42;
  border: 1px solid #8993A4;
}

.tag-bg-black {
  @extend %tag;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.24);
}

.black-project {
  @extend %text-one;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.title-black {
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFF5E1;
}

.title-black-project {
  @extend %white-font;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.title-white {
  @extend %white-font;
  font-size: 40px;
  line-height: 52px;
}

.subtitle-white {
  @extend %white-font;
  font-size: 32px;
  line-height: 44px;
  color: #091E42;
}

.bg-pic-scraper {
  @include bg-projects("../pictures/scraper-bot.png")
}

.bg-pic-pets {
  @include bg-projects("../pictures/PetPage.jpg");
}

.bg-pic-elsa {
  @include bg-projects("../pictures/elsa.jpg");
}

.bg-pic-todos {
  @include bg-projects("../pictures/todos.png");
}

.bg-pic-slides {
  @include bg-projects("../pictures/slides.png");
}

.bg-pic-pointe {
  @include bg-projects("../pictures/pointe.jpg");
}

.degrade {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  height: 100%;
}

.orange-bg {
  background-color: $orange-bg;
}

.projects-mini {
  margin: 20px 0;
  flex-basis: 30%;
  margin: 1%;
}

.diamond {
  @extend %bullet;
  transform: rotate(-45deg);
}

.square {
  @extend %bullet;
}

.subtitles-about-me {
  @extend %tag;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 44px;
}

.items-about-me {
  @extend %tag;
  color: #FFFFFF;
}

.form-inputs {
  @extend %input;
  @extend %text-one;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #979493;
}

.form-message {
  @extend %input;
  @extend %text-one;
  border: 0;
  background: #FBF8F7;
}

.project {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  z-index: 10;
}

.menu-position {
  top: 0;
  left: 5%;
  background: #3C3A39;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.menu-position ul {
  list-style-type: none;
}

.menu-position div {
  color: #FFF5E1;
  font-weight: 700;
  font-size: larger;
  text-align: right;
}

.menu-position ul li {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFF5E1;
}

.menu-position ul li a {
  color: #FFF5E1;
}

#msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: white;
  background-color: $orange-bg;
  font-size: 1em;
  font-family: $roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  position: absolute;
  left: 23.19%;
  right: 65.81%;
  top: 64.09%;
  bottom: 21.05%; 
  background: #FFFFFF;
  border: 1.22338px solid #262626;
  transform: matrix(1.04, 0.27, 0.27, 0.96, 0, 0);
  width: 110.4px;
  height: 114.31px;
}

.two {
  position: absolute;
  left: 34.57%;
  right: 37.52%;
  top: 60.59%;
  bottom: 9.36%;
  background: #FFFFFF;
  border: 1.22338px solid #FF6B00;
  transform: matrix(-0.96, -0.73, -40.73, 0.96, 0, 0);
  width: 30%;
  height: 20%;
}

.four {
  position: absolute;
  left: 43.87%;
  right: 49.23%;
  top: 73.6%;
  bottom: 17.41%;
  background: #FFFFFF;
  border: 1.22338px solid #262626;
  transform: matrix(-5.96, 1.27, 12.27, 0.96, 0, 0);
}

.five {
  left: 63.62%;
  right: -9.24%;
  top: 56.55%;
  bottom: -13.36%;
  position: absolute;
  background: #FFFFFF;
  border: 1.22338px solid #FF6B00;
  transform: matrix(-0.96, -0.73, 0.27, -0.04, 0, 0);
}

.six {
  position: absolute;
  left: 68.17%;
  right: 17.77%;
  top: 64%;
  bottom: -6.38%;
  background: #FFFFFF;
  border: 1.22338px solid #FF6B00;
  transform: matrix(0.04, -4.73, 21.27, -20.04, 0, 0);
}

.seven {
  position: absolute;
  left: 29.31%;
  right: 64.82%;
  top: 81.46%;
  bottom: 11.09%;
  background: #FFFFFF;
  border: 1.22338px solid #262626;
  transform: matrix(0.04, 15.27, 22.27, -25.04, 27, 49);
}

.one-a {
  position: absolute;
  left: 23.19%;
  right: 65.81%;
  top: 64.09%;
  bottom: 21.05%; 
  background: #FFFFFF;
  border: 1.22338px solid #262626;
  transform: matrix(-0.96, -0.73, 0.27, 0.96, 0, 0);
  width: 110.4px;
  height: 114.31px;
}

.six-a {
  position: absolute;
  left: 68.17%;
  right: 17.77%;
  top: 64%;
  bottom: -6.38%;
  background: #FFFFFF;
  border: 1.22338px solid #FF6B00;
  transform: matrix(1.04, -3.73, 32.27, 0.96, 0, 0);
}

.seven-a {
  position: absolute;
  left: 29.31%;
  right: 64.82%;
  top: 81.46%;
  bottom: 11.09%;
  background: #FFFFFF;
  border: 1.22338px solid #262626;
  transform: matrix(-5.96, -2.73, -35.73, 16.96, 0, 0);
}

.overlay-top {
  z-index: 10;
}

.cursor-custom {
  cursor: pointer;
}

@media (min-width: 576px) {
  .main-title, .about-me-title {
    font-size: 72px;
    line-height: 81px;
  }

  .black {
    font-size: 20px;
    line-height: 28px;
  }

  .title-black {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .subtitle-white {
    font-size: 40px;
    line-height: 52px;
  }

  header, .me-description {
    min-height: 100vh;
  }

  .project {
    margin: 0 10%;
  }

  .btn-space {
    margin: 0 5%;
  }
}
